apiVersion: apps/v1
kind: Deployment
metadata:
  name: update-contacts
  namespace: PLACEHOLDER_NAMESPAC
  labels:
    app: update-contacts
spec:
  replicas: 1
  selector:
    matchLabels:
      app: update-contacts
  template:
    metadata:
      labels:
        app: update-contacts
    spec:
      containers:
      - name: update-contacts
        image: PLACEHOLDER_CONTAINER_REGISTRY/PLACEHOLDER_IMAGE_REPOSITORY:latest
        ports:
        - containerPort: 8082
        env:
        - name: ASPNETCORE_URLS
          value: "http://+:8082"
        - name: ASPNETCORE_ENVIRONMENT
          value: "Development"
---
apiVersion: v1
kind: Service
metadata:
  name: update-contacts-service
  namespace: PLACEHOLDER_NAMESPACE
spec:
  selector:
    app: update-contacts
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8082
  type: ClusterIP